name: Test
on: [push, pull_request]

jobs:
  test_project:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '12', '16' ]
    name: Node ${{ matrix.node }} Tests
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Npm install
        run: npm ci
      - name: Npm Lint
        run: npm run test:lint
      - name: Npm test
        run: npm run test:unit
  test_project_docker:
    runs-on: ubuntu-latest
    name: Docker Tests
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Test Build
        run: docker build ./Dockerfile
