name: Update staging branch
on:
    workflow_run:
        workflows: [Test]
        types: [completed]
        branches: [main]
concurrency:
    group: update_staging_branch
    cancel-in-progress: true
jobs:
    update-staging:
        runs-on: ${{ matrix.os }}
        name: Update Staging branch
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        concurrency:
            group: release_version
        timeout-minutes: 30
        strategy:
            max-parallel: 4
            matrix:
                node: [24]
                os: [ubuntu-latest] #, windows-latest]
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  token: ${{ secrets.GITHUB_TOKEN }}
                  ref: ${{ github.event.workflow_run.head_branch }}
            - name: Install Deps
              run: |
                  npm ci
            - name: Setup GIT
              run: |
                  git config --local user.email "donmahallem@users.noreply.github.com"
                  git config --local user.name "donmahallem"
            - name: Create Release PR
              uses: release-please/action@v3
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
                  package-name: '@donmahallem/lerna-label'
                  release-type: node
